@media (max-width: 1363px) {
    .menu-container ul li a{
        margin-left: 32px;
    }
}
@media (max-width: 760px) {

    .shopping-icon .fa-bag-shopping{
        display: none;
    }

    .shopping-icon .fa-bars{
        display: block;
        font-size: 32px;
        color: blue;
    }

   header .container{
        height: 104px;
    }

    .phone-search-icon .glass .fa-magnifying-glass{
        font-size: 25px;
    }
   
}


@media(max-width:1102px){
    .menu-container ul li a{
        margin-left: 10px;
    }

    .location{
        margin-right: 50px;
    }

    .number .phone-two{
        margin-left: 32px;
    }

    .number .number-two{
        margin-right: 20px;
    }

    .send-mail a{
        margin-right: 30px;
    }

    .info{
        margin-right: 25px;
    }

    .location p{
        font-size: 14px;
    }

    .head-container .number{
        font-size: 14px;
    }

    .send-mail{
        font-size: 14px;
    }
    .info{
        font-size: 14px;
    }
    .search-item{
        font-size: 14px;
    }
}


@media (max-width:1366px){
    .menu-container ul li a{
        font-size: 13px;
    }

    .head-container .number{
        font-size: 11px;
    }

}

@media (max-width:1000px) {
    .header-container{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width:760px) {
    .phone-search-icon .phone .fa-phone{
        display: block;
        margin-bottom: 3px;
        font-size: 25px;
    }

    .phone-search-icon .glass .fa-magnifying-glass{
        display: block;
        margin-bottom: 3px;
        font-size: 25px;
    }

    .phone-search-icon .shopping .fa-bag-shopping{
        display: block;
        margin-bottom: 3px;
        font-size: 25px;
    }

    .phone-search-icon .shopping{
        margin-left: 10px;
    }

    .phone-search-icon .phone{
        margin-left: 10px;
    }

    .phone-search-icon .glass p{
        display: block;
        font-size: 20px;
    }
    .phone-search-icon .phone p{
        display: block;
        font-size: 20px;
    }
    .phone-search-icon .shopping p{
        display: block;
        font-size: 20px;
    }

    .location p{
        font-size: 19px;
    }

    .info p{
        font-size: 19px;
    }

    .tinger-slider-container h3{
        line-height: 47px;
    }
    .tinger-slider-container h1{
        line-height: 82px;
        margin-bottom: 219px;
    }
    .slider-text{
        margin: 60px auto;
        text-align: start;
    }


    .model-container .model-text p{
        font-size: 18px;
    }


    .head-container{
        width: 100%;
        justify-content: space-between;
        margin: 0;
    }

    .sponsor-container{
        height: 580px;
    }
}

@media (max-width:915px){
    .menu-container ul li .contact{
        margin-right: 0px;
    }
}
@media(max-width:814px){
    .menu-container ul li a{
        font-size: 13px;
    }
}
@media (max-width:769px){
    .menu-container ul li a{
        font-size: 12.5px;
    }
}
@media (max-width:760px) {
    .menu-container ul {
        display: none;
    }

    .header{
        width: 100%;
    }

    .logo-container .logo img{
        margin-left: 20px;
    }

    .shopping-icon .fa-bars{
        margin-right: 20px;
    }
    .phone-search-icon .shopping{
        margin-right: 100px;
    }

    .head-container .number{
        display: none;
    }
    .head-container .send-mail{
        display: none;
    }

    .search-item{
        display: none;
    }

    .slider-text .blue-button{
        margin-left: 80px;
    }
    .slider-text a{
        margin-left: 25px;
    }

    .car-engine-container .container{
        margin-top: 65px;
    }
}


@media (max-width:792px){
    .menu-container ul li a{
        font-size: 11px;
    }
}

@media (max-width:504px){
    .phone-search-icon{
        display: none;
    }

    .responsive-menu i{
        display: block;
        margin-right: 20px;
        display: block;
        font-size: 32px;
        color: blue;
    }

    .container-head{
        display: none;
    }

    .responsive-head-menu{
        display: block;
        display: flex;
    background-color: rgba(245, 246, 246, 1);
    padding: 14px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    }

}

@media(max-width:844px){
    .tinger-slider-container h3{
        font-size: 40px;
    }

    .tinger-slider-container h1{
        font-size: 100px;
    }

}

@media (max-width:969px){
    .slider-text .blue-button{
        margin-left: 24px;
    }
}

@media (max-width:1097px){
    .spare-container{
        display: none;
    }

    .slider-text .blue-button{
        display: inline-block;
    }
}

@media (max-width:1276px){
    .number .number-two{
        margin-right: 60px;
    }
}
@media (max-width:914px){
    .location p{
        font-size: 12px;
    }
}
@media (max-width:879px){
    .number .number-two{
        margin-right: 20px;
    }
    .location{
        margin-right: 13px;
    }
}

@media (max-width:1241px){
    .location{
        margin-right: 70px;
    }
}

@media (max-width:634px){
    .tinger-text-button{
        display: flex;
        flex-direction: column;
    }

    .slider-text{
        text-align: center;
    }

    .car-engine-container .container{
        margin: 18px auto;
    }

    .slider-text .blue-button{
        margin-left: 24px;
    }
}

@media (max-width:672px){
    .car-engine-container{
        flex-direction: column;
        align-items: center;
    }

    .shopping-icon .fa-bars{
        margin: 0;
    }

    .phone-search-icon .shopping{
        margin-right: 50px;
    }
}
@media (max-width:592px) {
    .car-engine-container .container{
        width: 188px;
    }
}

@media (max-width:634px){
    .slider-text .blue-button{
        margin: 50px 0;
    }
    .slider-text a{
        margin: 0;
    }
}

@media (max-width:439px){
    .model-img-top{
        width: 320px;
    }

    .model-img .model-img-cart{
        width: 322px;
    }
}

@media(max-width:328px){
    .model-img-cart .model-img-top img{
        width: 200px;
        height: 125px;
    }

    .model-img-top{
        width: 220px;
        height: 170px;
    }

    .model-img .model-img-cart{
        width: 222px;
        height: 225px;
        margin: 0;
        margin-bottom: 30px;
    }
    .model-img-cart .model-img-bottom h3{
        margin-top: 12px;
    }

    .model-img-cart-two{
        margin: 0;
    }
}

@media (max-width:949px){
    .model-img .model-img-cart{
        width: 225px;
        height: 220px;
    }

    .model-img-top{
        width: 222px;
        height: 150px;
    }

    .model-img-cart .model-img-top img{
        width: 163.83px;
        height: 94.44px;
    }
}

@media(max-width:736px){
    .model-container .model-text p{
        font-size: 16px;
        width: 319px;
        height: 80px;
    }

    .model-container .model-text h2{
        font-size: 40px;
    }
}

@media (max-width:321px){
    .model-container .model-text h2{
        font-size: 30px;
        line-height: 100px;
        padding-top: 60px;
    }

    .model-container .model-text p{
        font-size: 16px;
        width: 216px;
        height: 80px;
        margin-bottom: 40px;
    }


    .tinger-slider-container .slider-text p{
        font-size: 12px;
    }

    .tinger-slider-container h3{
        font-size: 23px;
    }

    .tinger-slider-container h1{
        font-size: 65px;
    }

    .slider-text a{
        padding: 22px 48px;
    }

    .slider-text .blue-button{
        padding: 22px 48px;
    }
}

@media (max-width:804px){
    .map-text-container .map-text h4{
        width: 677px;
        height: 240px;
    }

    .map-text p{
        width: 546px;
        height: 70px;
    }
}

@media(max-width:677px){
    .map-text{
        display: flex;
        flex-direction: column;
        width: 396px;
    }

    .map-text-container .map-text h4{
        width: 396px;
        height: 240px;
        text-align: center;
    }

    .map-text p{
        width: 398px;
        height: 70px;
        text-align: center;
        margin-top: 150px;
    }
}

@media(max-width:413px){
    .map-text-container .map-text h4{
        width: 321px;
        height: 280px;
        text-align: center;
        font-size: 40px;
    }

    .map-text p{
        width: 320px;
        height: 100px;
        font-size: 16px;
    }
    .map-text{
        width: 327px;
    }
}

@media(max-width:327px  ){
    .map-text{
        width: 273px;
    }

    .map-text-container .map-text h4{
        width: 289px;
        height: 196px;
        text-align: center;
        font-size: 40px;
        line-height: 1;
    }

    .map-text p{
        width: 271px;
        height: 100px;
        font-size: 16px;
}
    }

@media(max-width:291px){
    .map-text-container{
        height: 597px;
    }
    .map-text{
        width: 227px;
        top: 102px;
    }

    .map-text-container .map-text h4{
        width: 239px;
        height: 91px;
        text-align: center;
        font-size: 30px;
        line-height: 1;
    }

    .map-text p{
        width: 242px;
        height: 100px;
        font-size: 16px;
    }
}

@media (max-width:799px){
    .sponsor-container .sponsors-logo{
        justify-content: center;
    }
}

@media (max-width:519px){
    .sponsor-container{
        height: auto;
    }
}

@media(max-width:1394px){
    .model-container{
        height: 1251px;
    }
}

@media(max-width:949px){
    .model-container{
        height: auto;
    }
}

@media (max-width:1848px){
    .dealers-container .dealers-text{
        max-width: 1412px;
    }
}

@media(max-width:1524px){
    .dealers-container .red-lent{
        width: 1338px;
        height: 1021.5px;
        overflow: hidden;
        right: -297px;
    }

    .dealers-container .lent-text p{
        display: none;
    }

    .dealers-container{
        height: 875px;
        overflow: hidden;
        position: relative;
    }

    .dealers-container .video-container{
        position: absolute;
        z-index: 2;
        margin-top: 406px;
        right: 294px;
    }
}

@media(max-width:1486px){
    .dealers-container .red-lent{
        width: 999px;
        height: 840px;
        overflow: hidden;
        right: -297px;
    }

    .dealers-container .video-container img{
        width: 678px;
        height: 470px;
        cursor: pointer;
    }

    .dealers-container .video-container{
        margin-top: 369px;
        right: 21px;
    }
}

@media(max-width:1220px){
    .dealers-container .video-container{
        margin-top: 504px;
        right: 21px;
    }

    .dealers-container .video-container img{
        width: 470px;
        height: 333px;
    }
}
@media(max-width:1120px){
    .dealers-container .red-lent{
        width: 603px;
        height: 836px;
        overflow: hidden;
        right: -158px;
    }
}

@media(max-width:1004px){
    .dealers-container .dealers-text{
        padding-top: 12px;
    }
}

@media(max-width:900px){
    .dealers-container .red-lent{
        width: 908px;
        height: 836px;
        overflow: hidden;
        right: -530px;
        bottom: 41px;
    }
}

@media(max-width:759px){
    .dealers-container .dealers-text{
        max-width: 734px;
    }

    .dealers-container .red-lent{
        width: 1100px;
        height: 886px;
        overflow: hidden;
        right: -670px;
        bottom: 0px;    
    }

    .dealers-container .video-container{
        margin-top: 547px;
        right: 84px;    
    }

    .dealers-container .dealers-text p{
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .dealers-container .video-container img{
        width: 580px;
        height: 328px;
    }
    
}


@media (max-width:700px){
    .dealers-container .dealers-text p{
        font-size: 16px;
        text-align: center;
        width: 318px;
    }
    .dealers-container .dealers-text h3{
        text-align: center;
        line-height: 1;
        font-size: 40px;
        width: 320px;
    }

    .dealers-container .dealers-text{
        text-align: center;
    }

    .dealers-container .video-container{
        margin-top: 723px;
        right: 186px;
    }

    .dealers-container .video-container img{
        width: 320px;
        height: 220px;
    }

    .dealers-container{
        height: 1000px;
    }

    .dealers-container .red-lent{
        width: 1100px;
        height: 886px;
        overflow: hidden;
        right: -720px;
        bottom: 0px;
    }

    .dealers-container .dealers-text{
        display: flex;
        flex-direction: column;
        max-width: 325px;
    }

}

@media(max-width:652px){
    .dealers-container .video-container{
        right: 164px;
    }
}

@media(max-width:570px){
    .dealers-container .video-container{
        right: 129px;
    }
}


@media(max-width:530px){
    .dealers-container .video-container{
        right: 103px;
    }
}

@media(max-width:499px){
    .dealers-container .video-container{
        right: 71px;
    }
}

@media(max-width:455px){
    .dealers-container .video-container{
        right: 60px;
    }
}

@media(max-width:411px){
    .dealers-container .video-container{
        right: 41px;
    }
}

@media(max-width:384px){
    .dealers-container .video-container{
        right: 28px;
    }
}

@media(max-width:345px){
    .consultation-container{
        height: 686px;
    }
}

@media(max-width:357px){
    .dealers-container .video-container{
        right: 11px;
    }
}

@media(max-width:335px){
    .dealers-container .video-container{
        right: 20px;
    }

    .dealers-container .dealers-text h3{
        font-size: 36px;
    }

    .dealers-container .video-container img{
        width: 299px;
        height: 201px;
    }

    .dealers-container{
        height: 933px;
    }

}

@media(max-width:324px){
    .dealers-container .video-container{
        right: 13px;
    }
}

@media(max-width:310px){
    .dealers-container .video-container{
        right: 5px;
    }
}

@media(max-width:1341px){
    .dealers-container .dealers-text{
        margin: 0 15px;
    }
}
@media(max-width:1325px){
    .information-cart-container .information-cart{
        margin-bottom: 30px;
    }
}

@media(max-width:887px){
    .information-cart-container .cart-tree{
        display: none;
    }

    .information-cart-container .information-cart{
        width: 320px;
        height: 390px;
    }

    .information-cart-container .information-cart img{
        width: 318px;
        height: 200px;
    }

    .information-cart-container .information-cart a{
        top: -206px;
    }

    .information-cart-container .information-cart .cart-text h4{
        margin-top: 0;
        margin-bottom: 0;
        font-size: 18px;
        width: 260px;
        height: 80px;
        text-align: center;
        margin-left: 22px;
    }

    .information-cart-container .cart-one{
        margin-right: 20px;
    }
    .information-cart-container{
        justify-content: center;
    }

    .information-cart-container .information-cart .cart-text .span-one{
        margin-right: 109px;
        margin-left: 20px;
    }

    .information-cart-container .information-cart a{
        top: -184px;
    }

    .information-cart-container .cart-one{
        margin-right: 10px;
    }
}

@media (max-width:759px){
    .information-cart-container{
        justify-content: space-evenly;
    }
}

@media (max-width:697px){
    .information-cart-container .cart-tree{
        display: block;
    }

    .information-cart-container{
        justify-content: none;
    }

    .information-cart-container .cart-one{
        
    }
}

@media(max-width:1010px){
    .sxema-p .p-two{
        display: none;
    }

    .sxema-text{
        margin-left: 20px;
    }
    .sxema-p{
        margin-left: 20px;
    }

    .sxema-button{
        margin-left: 20px;
    }
}

@media (max-width:590px){
    .sxema-text h2{
        width: 300px;
        height: 80px;
        font-size: 40px;
        line-height: 47px;
    }
    .sxema-text{
        margin-bottom: 30px;
    }

    .sxema-p .p-one{
    width: 320px;
    height: 265px;
    margin-bottom: 40px;
    }
}

@media (max-width:770px){
    .adress{
        display: none;
    }

    .detals-container{
        max-width: 689px;
    }
}

@media (max-width:475px){
    .detals-container{
        flex-direction: column;
    }

    .contact-number{
        margin-top: 50px;
    }

    .adress-two{
        display: none;
    }

    .detals-container-two{
        text-align: center;
        max-width: 232px;
    }
}

@media(max-width:373px){
    .zapcast-kampanya-container{
        flex-direction: column;
    }

    .kampanya{
        margin-top: 50px;
    }

    .zapcast{
        margin-right: 0;
    }

    .detals-container{
        text-align: center;
    }

    .contact-number a{
        margin-top: 60px;
    }
}

@media (max-width:319px){
    .sxema-text h2{
        width: 0;
    }
}

@media(max-width:326px){
    .information-cart-container .information-cart{
        width: 308px;
        height: 353px;
    }

    .information-cart-container .information-cart img{
        width: 306px;
        height: 200px;
    }
}

@media(max-width:800px){
    .info-follow-container{
        display: none;
    }

    .info-follow-container-two{
        display: block;
    }
    .adress{
        display: none;
    }

    .detals-container-two{
        max-width: 640px;
    }
}

@media(max-width:1427px){
    .detals-container{
        max-width: 1224px;
    }
    .info-follow-container .info-follow{
        max-width: 1224px;
    }
}

@media(max-width:1245px){
    .detals-container{
        max-width: 1000px;
    }
    .info-follow-container .info-follow{
        max-width: 1000px;
        align-items: center;
    }
    .follow-icon{
        width: 158px;
    }

    .fayl-politika h4{
        margin-left: 0;
    }

    .fayl-politika h5{
        margin-left: 21px;
    }
}

@media(max-width:1025px){
    .info-follow-container .info-follow{
        max-width: 910px;
    }
    
    .detals-container{
        max-width: 910px;
    }
}

@media(max-width:922px){
    .detals-container{
        max-width: 790px;
    }

    .info-follow-container .info-follow{
        max-width: 790px;
    }

    .info-text{
        margin-right: 20px;
    }
}

@media(max-width:539px){
    .phone-search-icon .shopping{
        margin-right: 10px;
    }

    .phone-search-icon .glass .fa-magnifying-glass{
        font-size: 20px;
    }

    .phone-search-icon .glass p{
        font-size: 15px;
    }

    .phone-search-icon .phone .fa-phone{
        font-size: 20px;
    }
    .phone-search-icon .phone p{
        font-size: 15px;
    }

    .phone-search-icon .shopping .fa-bag-shopping{
        font-size: 20px;
    }
    .phone-search-icon .shopping p{
        font-size: 15px;
    }

    .phone-search-icon .shopping{
        margin-right: 30px;
    }
}

@media(max-width:599px){
    .sponsor-container{
        height: 757px;
    }
}

@media (max-width:399px){
    .sponsor-container{
        height: 1143px;
    }
}

@media(max-width:325px){
    .sponsor-container{
        height: 1201px;
    }
}

@media(max-width:800px){
    .detals-container{
        max-width: 640px;
    }
}


@media (max-width:475px){
    .detals-container{
        flex-direction: column;
    }

    .contact-number{
        margin-top: 50px;
    }

    .adress-two{
        display: none;
    }

    .detals-container-two{
        text-align: center;
        max-width: 232px;
    }

    .adress-tree{
        display: block;
    }
}

@media(max-width:567px){
    .tinger-container{
        background-repeat: no-repeat;
    background-size: 567px 673px;
    }

    .car-engine-container .container{
        background: linear-gradient(126.68deg, rgba(71, 119, 227, 0) 8.95%, rgba(63, 111, 219, 0.7) 51.31%, rgba(67, 115, 223, 0) 87.94%), #1A4AA1;
border: 1px solid #1747A0;
backdrop-filter: blur(10px);
    }
}

@media(max-width:419px){
    .tinger-container{
        background-size: 422px 717px;
    }
}

@media(max-width:321px){
    .tinger-container{
        background-size: 352px 657px;
    }
}

@media(max-width:310px){
    .consultation-button a{
        padding: 20px 29px;
    }

    .information-cart-container .information-cart{
        width: 265px;
        height: 353px;
    }

    .information-cart-container .information-cart img{
        width: 263px;
        height: 200px;
    }

    .information-cart-container .information-cart .cart-text h4{
        width: 232px;
    }

    .information-cart-container .information-cart .cart-text .span-one{
        margin-right: 49px;
    }
}

@media(max-width:286px){
    .dealers-container .video-container{
        margin-top: 744px;
    }

    .dealers-container .video-container img{
        width: 250px;
        height: 182px;
    }
}

@media(max-width:737px){
    .model-container{
        height: 973px;
    }
}

@media(max-width:509px){
    .model-container{
        height: 1300px;
    }
}

@media(max-width:328px){
    .model-container{
        height: 1045px;
    }
}


@media(max-width:346px){
    .dealers-container .dealers-text h3{
        font-size: 33px;
        width: 300px;
    }

    .dealers-container .dealers-text p{
        font-size: 13px;
        width: 300px;
    }
}

@media(max-width:314px){
    .dealers-container .dealers-text p{
        width: 270px;
    }
}

@media(max-width:307px){
    .dealers-container .dealers-text h3{
        width: 278px;
    }
}

@media(max-width:304px){
    .responsive-menu i{
        margin-right: 0;
        margin-left: -41px;
    }
}

@media(max-width:278px){
    .logo-container .logo img{
        width: 31px;
        height: 43px;
    }

    .logo .logo-text{
        margin-left: 5px;
    }

    .logo .logo-text h4{
        font-size: 15px;
    }

    .logo .logo-text p{
        width: 106px;
        height: 25px;
        font-size: 9px;
    }
}

@media(max-width:296px){
    .map-text-container .map-text h4{
        font-size: 35px;
        width: 261px;
    }

    .map-text p{
        font-size: 14px;
        width: 258px;
    }
}

@media(max-width:256px){
    .dealers-container .dealers-text h3{
        width: 223px;
        font-size: 22px;
    }

    .dealers-container .dealers-text p{
        width: 216px;
        font-size: 10px;
    }

    .information-cart-container .information-cart{
        width: 237px;
        height: 336px;
    }

    .information-cart-container .information-cart img{
        width: 235px;
    }

    .information-cart-container .information-cart .cart-text h4{
        width: 196px;
    }

    .information-cart-container .information-cart .cart-text .span-one{
        margin-right: 31px;
        margin-left: 18px;
    }
}

@media (max-width:2000px){
    .head-container{
        align-items: center;
    }
}

@media(max-width:1246px){
    .number .number-two{
        margin-right: 15px;
    }
}

@media(max-width:854px){
    .number .phone-two{
        margin-left: 7px;
    }

    .number .number-two{
        margin-right: 10px;
    }

    .send-mail a{
        margin-right: 10px;
    }

    .location{
        margin-right: 25px;
    }
}


@media(max-width:1584px){
    .text-container-map{
        max-width: 1400px;
    }
}

@media(max-width:1408px){
    .text-container-map{
        max-width: 1100px;
    }
}


@media(max-width:1493px){
    .sponsor-container .sponsors-logo{
        max-width: 1355px;
    }
}

@media(max-width:1372px){
    .sponsor-container .sponsors-logo{
        max-width: 1212px;
    }
}
@media(max-width:1620px){
    .dealers-container .dealers-text{
        max-width: 1567px;
    }
}

@media(max-width:1485px){
    .dealers-container .dealers-text{
        max-width: 1349px;
    }
}